* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Roboto' sans-serif;
}

.landing-page {
    height: 100vh;
    background-image: url(../img/Untitled-1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.container {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    color: white;
}

.landing-page .logo,
.landing-page nav,
.landing-page nav ul,
.landing-page nav ul li {
    display: inline-block;
}

.landing-page a {
    color: #f5f5f5;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    width: 47px;
    height: 47px;
    background-color: #11749e;
    line-height: 1.6;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    float: left;
    margin-top: 20px;
    box-shadow: 12px 8px 0 #cbcaca;
}

.landing-page nav {
    float: right;
}

.landing-page nav ul {
    float: right;
}

.landing-page nav ul li {
    margin-top: 50px;
    font-size: 20px;
    margin-left: 30px;
    padding-bottom: 25px;
}

.landing-page nav ul li:hover {
    border-bottom: solid 5px #11749e;
    transition: 0.1s;
    transition-timing-function: ease-in;
}

.landing-page .header-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}

.landing-page .header-text h1 {
    font-size: 105px;
}

.landing-page .header-text h3 {
    font-size: 25px;
    color: #11749e;
    letter-spacing: 6px;
}

.landing-page .scroll {
    position: absolute;
    font-size: 12px;
    width: 10%;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.landing-page .scroll i {
    font-size: 30px;
    border: solid 1px #cbcaca;
    border-radius: 50%;
    padding: 15px 20px;
    margin-top: 10px;
}


/*** PRASIDEDA "ABOUT" SEKCIJA ***/

.about {
    width: 100%;
    background-color: #11749e;
    padding-top: 90px;
    padding-bottom: 110px;
}

.about .title {
    border: 1px solid red;
    font-size: 172px;
    font-weight: 600;
    font-family: 'roboto';
    color: #3c8daf;
    position: relative;
}

.about .title h2 {
    font-size: 37px;
    font-weight: 400;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 40%;
}

.about .wrapper {
    border: 1px solid red;
    width: 20%;
    display: inline-block;
    margin: 10px 20px 0px 20px;
}

.about .circle {
    background-color: #2e85aa;
    width: 40px;
    border-radius: 50%;
    margin: auto;
    padding: 45px;
}

.about .circle .fa {
    font-size: 40px;
}

.about h4 {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 21px;
}

.about p {
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
}


/***PRASIDEDA SEKCIJA GALERY***/

.galery .top-row {
    background-color: #222222;
}

.galery .top-row img {
    width: 50%;
    float: right;
}

.galery .top-row .half-container {
    width: 50%;
    float: right;
    color: white;
    max-width: 500px;
    text-align: left;
    margin-top: 70px;
}

.galery .top-row .half-container cite {
    font-size: 12px;
}

.galery .top-row .half-container h4 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 15px;
}

.galery .top-row .half-container p {
    font-size: 17px;
    margin-top: 20px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.galery .bottom-row {
    background-color: #f3f3f3;
}

.galery .bottom-row img {
    width: 50%;
    float: left;
}

.galery .bottom-row .half-container {
    width: 50%;
    float: right;
    color: #222222;
    max-width: 500px;
    text-align: left;
    margin-top: 70px;
}

.galery .bottom-row .half-container cite {
    font-size: 12px;
}

.galery .bottom-row .half-container h4 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 15px;
}

.galery .bottom-row .half-container p {
    font-size: 17px;
    margin-top: 20px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}


/*** PRASIDEDA SEKCIJA "BLOG"***/

.blog {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 70px;
}

.blog .title2 {
    border: 1px solid red;
    font-size: 172px;
    font-weight: 600;
    font-family: 'roboto';
    color: #d7d7d7;
    position: relative;
    margin-top: 50px;
}

.blog .title2 h1 {
    font-size: 37px;
    font-weight: 400;
    color: black;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 40%;
}

.blog h3 {
    color: black;
    font-size: 25px;
    font-family: 'roboto';
    margin-top: 15px;
    margin-bottom: 40px;
}

.blog .container2 {
    border: 1px solid green;
}

.blog .box {
    border: 1px solid red;
    width: 21%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 1.5%;
}

.box img {
    width: 210px;
}

.box h4 span {
    color: #11749e;
}

.box h4 {
    margin-top: 20px;
}

.box p {
    color: #313131;
    margin-top: 17px;
    line-height: 1.2;
}


/*** PRASIDEDA SEKCIJA "ARTICLE"***/

.article {
    width: 100%;
    background-color: #11749e;
}

.text-box {
    display: inline-block;
    width: 40%;
    position: relative;
    border: 1px solid red;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-right: 20px;
}

.text-box i {
    position: absolute;
    font-size: 80px;
    top: 15%;
    left: 1%;
}

.text-box p {
    font-weight: 100;
    text-align: justify;
    font-size: 15px;
    padding-left: 100px;
}


/*** PRASIDEDA SEKCIJA "KEY-FEATURE"***/

.key-feature {
    background-image: url(../img/Layer%2087.png);
    background-position: center;
    background-size: cover;
    width: 100%;
}

.key-content {
    border: 1px solid red;
    display: inline-block;
    width: 49%;
    text-align: left;
    vertical-align: top;
    margin-top: 70px;
    margin-bottom: 70px;
}

.key-content img {
    width: 40%;
    display: block;
    margin: auto;
}

.key-content h2 {
    font-size: 20px;
    font-family: 'roboto';
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}
.key-content p {
    font-size: 17px;
    line-height: 1.2;
    text-align: justify;
    padding-right: 70px;
    margin-bottom: 40px;
    color: #afafaf;
}

.key-content li {
    margin-bottom: 15px;
    padding: 10px;
    font-family: 'roboto';
    font-size: 17px;
    text-transform: uppercase;
}
.key-content li:first-child {
    width: 50%;
    background-color: #11749e;
}

.key-content li:nth-child(2) {
    width: 60%;
    background-color: #11749e;
}

.key-content li:nth-child(3) {
    width: 70%;
    background-color: #11749e;
}

/*** PRASIDEDA SEKCIJA "TEAM" ***/

.team {
    width: 100%;
}

.team .text {
    border: 1px solid red;
    font-size: 172px;
    font-weight: 600;
    font-family: 'roboto';
    color: #d7d7d7;
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
}

.team .text h3 {
    font-size: 37px;
    font-weight: 400;
    color: black;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 30%;
}

.team h4 {
    color: grey;
    font-size: 25px;
    font-family:sans-serif; 
    margin-top: 15px;
    margin-bottom: 40px;
    text-transform: lowercase;
}

.team-content {
    border: 1px solid red;
    display: inline-block;
    width: 20%;
    margin: 2%;
    position: relative;
    margin-bottom: 70px;
}

.team-content img {
    width: 100%;
}

.team-content-text h2 {
    color: #3c8daf;
    font-size: 20px;
    margin-bottom: 5px;
}

.team-content-text h5 {
    color: #222;
    font-size: 15px;
    font-weight: bold;
}

.team-content-text {
    width: 80%;
    background-color: #fff;
    position: absolute;
    bottom: -0px;
    margin-left: 20px;
}

