body {}

.container {
    max-width: 100px;
    margin: auto;
    text-align: center;
    width: 100%;
}

.landing-page {
    height: 100vh;
    background-image: url('../img/Untitled-1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo {
    background-color: rgb(17, 116, 158);
    position: absolute;
    left: 114px;
    top: 22px;
    width: 67px;
    height: 67px;
}

.box {
    background-color: rgb(255, 255, 255);
    opacity: 0.749;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 67px;
    height: 67px;
}

nav {
    border: 1px solid red;
    width: 600px;
    height: 50px;
    display: inline-block;
    margin-top: 50px;
    margin-left: -150px;
}

nav a {
    color: white;
    font-size: 15px;
    float: left;
    text-decoration: none;
    margin-left: 20px;
}

.home {
    border-bottom: 2px solid rgb(17, 116, 158);
    padding-bottom: 3px;
}

h1 {
    font-size: 80px;
    font-family: "Gotham";
    color: rgb(245, 245, 245);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-top: 200px;
}

h2 {
    font-size: 21px;
    font-family: "Roboto";
    font-weight: bold;
    color: rgb(17, 116, 158);
    text-transform: uppercase;
    line-height: 2px;
    text-align: center;
    letter-spacing: 7px;
}

h3 {
    font-size: 13px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    line-height: 1.692;
    text-align: center;
    margin-top: 100px;
}

.box2 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0);
    width: 50px;
    height: 50px;
    
}

.fa-chevron-down {
    color: white;
    font-size: 20px;
    
}
